*{
  font-family: popins;
}
.button {
    margin-bottom: 20px;
    width: 100px;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #338573;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s; 
  }
  .button:active {
    transform: scale(1.1); 
  }
  /* for griding */
  
  .jobdetails_container{
    width: 1000px;
    margin: auto ;
    display: grid;
    grid-template-columns:4fr 2fr ;
    grid-template-rows: auto;
    gap: 20px;
}
 .jobdetails_child1,
 .jobdetails_child2,
 .jobdetails_child3{
	padding: 20px;
  border-radius: 1rem;
  border: 1px solid #c3c1c1;
  background-color: #FFF;
  gap: 20px;
  margin-bottom: 10px;
}
.jobdetails_child4{
	padding: 20px;
  border-radius: 1rem;
  border: 1px solid #c3c1c1;
  background-color: #FFF;
  grid-column: 2;
}  
.description-content{
  display: flex;
}
.section-content {
  max-width: 630px;
  word-wrap: break-word;
}
h2, h3{
  margin: 20px 0 20px 0;
}
li, p {
  line-height: 1.5;
}
.row{
  justify-content: space-between;
  display: flex;
  padding: 10px;
}
.pp-left{
  display: flex;
  align-items: center;
}
.company-info{
  margin-left: 10px;
}
.right_column {
  position: relative;
}
.jobdetails_child4_sticky_wrapper {
  position: sticky;
  top: 20px; /* Adjust top distance as needed */
}