.button {
    width: 100px;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #338573;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s; 
  }
  .button:active {
    transform: scale(1.1); 
  }
  /* for griding */
  
  .jobdetails_container{
    width: 950px;
    height: 600px;
    margin: auto ;
    display: grid;
    grid-template-columns:4fr 2fr ;
}
 .jobdetails_child1{
	position: initial;
	padding: 20px;
}
.jobdetails_child2{
	position: initial;
	padding: 20px;
} 
.description-content{
  display: flex;
}