body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
 text-decoration: none;
}
.cols__container{
  display: flex;
  justify-content: center;
}
.left__col {
  padding: 35px;
  width: 450px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #c3c1c1;
  margin-top: 40px;
  border-radius: 20px;
}
 .img__container {
  position: relative;
  width: 250px;
}
.left__col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}
 .content p {
  font-size: 1rem;
  color: #1d1d1d;
  line-height: 1.8em;
}
  .content ul li{
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
 .content ul li {
  display: flex;
}
 .content ul i {
  font-size: 1.3rem;
}
/* Responsiveness */

/* @media (min-width: 868px) {
  .cols__container {
    margin: 0 auto;
    width:1200px;
    display: flex;
  justify-content: space-between;
  gap: 300px;
  }
  .cols__container .left__col {
    padding: 30px 0px;
  }
   .cols__container .right__col nav ul {
    flex-direction: row;
    gap: 30px;
  }
}
 
@media (min-width: 1017px) {
   .cols__container .left__col {
    margin: 0;
    margin-right: auto;
  }
   .cols__container .right__col nav {
    flex-direction: row;
  }
} */
.upload{
  width: 140px;
  position: relative;
  margin: auto;
  text-align: center;
}
.upload img{
  border-radius: 50%;
  border: 1px solid #151414;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  object-fit: cover;
}
.upload .rightRound{
  position: absolute;
  bottom: 0;
  right: -40px;
  background: #079213;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.upload .leftRound{
  position: absolute;
  bottom: 0;
  left: 25px;
  background: red;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.upload .fa{
  color: white;
}
.upload input{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}
.upload input::-webkit-file-upload-button, .upload input[type=submit]{
  cursor: pointer;
}
.form-group button{
  all: unset;
}
.hidden {
  display: none;
}
.form-group{
  margin: 30px;
}
.form-group img{
  width:15px;
}
.form-group label{
  width: 100%;
    margin: 12px 0;
    padding: 40px;
}
.form-group input{
width: 290px;
  height:40px;
  border: 1px solid#ddd;
  border-radius: 6px;
  outline: none;
  margin: 10px 0 15px 40px;
 font-size: medium;
}
.form-group span{
  width: 100%;
  text-align: center;
}
.update{
  margin-left: 170px
}